@page "{handler?}/{urlId?}"
@model IndexModel
@{
    ViewData["Title"] = "Twtr URL Shortener";
}


<div class="text-center">

    <h1 class="display-4">Welcome to TWTR</h1>

    <p>Enter a URL and hit Generate to get a shortened user-friendly URL.</p>
    <form class="form-horizontal" method="post">
        <label for="FullUrl">Url:</label>
        <input type="text" name="FullUrl" />
        <button asp-page-handler="Shorten" type="submit">Generate</button>
    </form>

    <form class="form-horizontal" method="post">
        <h3>Your generated URL</h3>
        <p></p>
        <input type="text" id="shortenedUrl" value="@Model.ShortenedUrl" />
        <button asp-page-handler="Navigate" type="submit">Go</button>
        <input type="hidden" id="UrlID" value="@Model.UrlID" />
    </form>
</div>
